<div class="m-3">
  <h1 class="mt-5">Selectores anidados</h1>
  <hr />

  <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- region -->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Continente:</label>
        <select class="form-control" formControlName="region">
          <option value="">-- Seleccione continente --</option>
          <option *ngFor="let region of regiones" [value]="region | lowercase">
            {{ region }}
          </option>
        </select>
      </div>
    </div>

    <!-- paises -->
    <div class="row mb-3" *ngIf="paises.length !== 0">
      <div class="col">
        <label class="form-label">País:</label>
        <select class="form-control" formControlName="pais">
          <option value="">-- Seleccione País --</option>
          <option *ngFor="let pais of paises" [value]="pais.alpha3Code">
            {{ pais.name }}
            <!-- aclarando  [value]="pais.alpha3Code" es porque  el valor de este input es el codigo -->
            <!-- pero tu muestrame el nombre, ok? -->
          </option>
        </select>
      </div>
    </div>

    <!-- Frontera -->
    <div class="row mb-3" *ngIf="fronteras.length !== 0">
      <div class="col">
        <label class="form-label">Frontera:</label>
        <select class="form-control" formControlName="frontera">
          <option value="">-- Seleccione Pais Fronteriso--</option>
          <option
            *ngFor="let frontera of fronteras"
            [value]="frontera.alpha3Code"
          >
            {{ frontera.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="cargando">
      <div class="col">
        <div class="alert alert-primary">Cargando</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary float-end">Enviar</button>
      </div>
    </div>
  </form>

  <h3>Formulario</h3>
  <pre>Valid: {{ miFormulario.valid }}</pre>
  <pre>Value: {{ miFormulario.value | json }}</pre>
</div>

<!-- estudiar: estructura del DOM, ya lo entiendes, solo falta que masterizes lo que sabes -->
